@media screen and (max-width: 767px) {
  .burger-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    margin-right: 20px;
    margin-left: auto;
    cursor: pointer;
    &::after,
    &::before {
      content: "";
      background-color: #000;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease-in-out;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      background-color: #000;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      top: 9px;
      transition: all 0.3s ease-in-out;
    }
  }
  .burger-menu.bgr-active {
    &::before {
      transform: rotate(45deg);
      top: 9px;
    }
    &::after {
      transform: rotate(-45deg);
      bottom: 9px;
    }
    span {
      transform: scale(0);
    }
  }
}
