$padding_pop: 40px;
@media screen and (max-width: 1150px) {
  .promo-block {
    .slider-wrapp {
      height: 480px;
      padding-bottom: 50px;
      .slider-items {
        flex-direction: column;
        .img-wrap {
          margin: 0 auto;
          height: 240px;
        }
        .slider-descrip {
          padding-left: 0px;
          padding-top: 25px;
          .number-slide {
            text-align: center;
          }
          .descrip-text {
            text-align: center;
          }
        }
      }
      .nav-dot-wrapp {
        left: 0;
        right: 0;
      }
    }
    .advant-wrapp {
      .advant-item {
        .advant-items {
          width: calc(33.33333% - 80px);
        }
      }
    }
  }
  .gallery-block {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .gallery-grid {
      margin-bottom: 40px;
    }
    .gallery-resons-wrapp {
      padding-left: 0px;
      .reson-head {
        text-align: center;
      }
      .reson-text {
        text-align: center;
      }
    }
  }
}
@media screen and (max-width: 1120px) {
  .fbc-wrapp {
    margin-right: 0px;
  }
}
@media screen and (max-width: 800px) {
  .promo-block {
    .advant-wrapp {
      .advant-item {
        .advant-items {
          width: calc(33.33333% - 30px);
        }
      }
    }
  }
}
@media screen and (max-width: 875px) {
  .header-second-wrapp {
    flex-direction: column;
  }
  .fbc-wrapp {
    margin: 0 auto;
  }
  .header-second-wrapp {
    .left-side-wrapp {
      padding-bottom: 50px;
      .pr-content {
        padding-bottom: 30px;
        p {
          text-align: center;
          white-space: normal;
        }
      }
      .reson-wrapp {
        justify-content: center;
      }
    }
  }
  .header-nav-wrapp {
    .border-content {
      .header-nav {
        .header-menu {
          .menu-items {
            padding-left: 30px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .header_wrapper {
    padding-bottom: 0px;
  }
  .burg-wrap {
    display: flex;
    align-items: center;
  }
  .burger-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
    &::after,
    &::before {
      content: "";
      background-color: #000;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease-in-out;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      background-color: #000;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      top: 9px;
      transition: all 0.3s ease-in-out;
    }
  }
  .burger-menu.bgr-active {
    &::before {
      transform: rotate(45deg);
      top: 9px;
    }
    &::after {
      transform: rotate(-45deg);
      bottom: 9px;
    }
    span {
      transform: scale(0);
    }
  }
  .header-nav-wrapp {
    position: relative;
    .border-content {
      .header-nav {
        display: none;
        position: absolute;
        background-color: #ffffff;
        padding: 50px 0;
        width: 100%;
        top: 50px;
        left: 0;
        &.bgr-active {
          display: block;
        }
        .header-menu {
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          .menu-items {
            padding-bottom: 20px;
            a {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
  .recom-wrapp {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .rate-quantity {
      padding-right: 0px;
    }
    .recom-text {
      white-space: normal;
      text-align: center;
    }
  }
  .map-wrapp {
    height: 100%;
    overflow: inherit;
    .iframe_wrap {
      position: relative;
      iframe {
        height: 350px;
      }
    }
    .ft-shadow-white {
      display: none;
    }
    .ft-contact-wrap {
      justify-content: center;
      flex-direction: column;
      .ft-contct-text {
        padding-right: 0px;
        padding-top: 30px;
        a {
          text-align: center;
          white-space: normal;
        }
      }
    }
  }
  #popup_galerry.popup {
    .popup__wrapper {
      padding: 0;
    }
  }
}
@media screen and (max-width: 650px) {
  .header-first-wrapp {
    flex-direction: column;
    padding-bottom: 30px;
    .header-logo {
      max-width: calc(100px + (175 - 100) * (100vw / 1920));
      margin: 0 auto;
      padding-bottom: 10px;
    }
    .header-contact {
      .lg-option {
        justify-content: center;
      }
      .sl-text {
        span {
          text-align: center;
          white-space: normal;
        }
      }
      .sl-contact {
        a {
          text-align: center;
        }
      }
      .btn-wrapp {
        justify-content: center;
      }
    }
  }
}
@media screen and (max-width: 630px) {
  .promo-block {
    .advant-wrapp {
      .advant-header {
        text-align: center;
        padding-bottom: 30px;
      }
      .advant-item {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .advant-items {
          width: calc(100% - 120px);
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .gallery-block {
    padding-bottom: 30px;
    .gallery-grid {
      margin-bottom: 20px;
      grid-template-columns: repeat(2, 1fr);
      .gallery-items {
        .activ-reasons {
          padding: 8px;
        }
      }
    }
  }
}
@media screen and (max-width: 550px) {
  .promo-block {
    .slider-wrapp {
      height: calc(375px + ((480 - 375) * 0.7) * ((100vw - 320px) / 250));
      .slider-items {
        .img-wrap {
          height: calc(150px + ((240 - 150) * 0.7) * ((100vw - 320px) / 250));
        }
      }
    }
    .advant-wrapp {
      .advant-header {
        text-align: center;
      }
    }
  }
  .fbc-wrapp {
    .fbc-best {
      padding-bottom: 45px;
    }
  }
}
@media screen and (max-width: 490px) {
  .header-second-wrapp {
    .left-side-wrapp {
      .reson-wrapp {
        .reson-items {
          width: calc(50% - 10px);
        }
      }
    }
  }
  .fbc-wrapp {
    width: 282px;
  }
  .ft-red-line {
    max-height: 100%;
    .border-content {
      padding: 15px 15px 6px;
      flex-direction: column;
      .logo {
        padding-bottom: 25px;
      }
      .ft-social {
        padding-bottom: 15px;
      }
      .social {
        display: flex;
        justify-content: center;
        .social-items {
          a {
            margin: 0 4px;
          }
        }
      }
    }
  }
  .popup {
    .popup__wrapper {
      padding: 0px;
      .popup__content {
        width: 235px + $padding_pop * 2;
        padding: 50px $padding_pop 60px;
      }
    }
  }
}
