/*--fonts--*/
$roboto_thin: "Roboto-Thin", sans-serif;
$roboto_ligt: "Roboto-Light", sans-serif;
$roboto_regular: "Roboto-Regular", sans-serif;
$roboto_medium: "Roboto-Medium", sans-serif;
$roboto_bold: "Roboto-Bold", sans-serif;
$material-icon: "Material Icons";
/*--fonts--*/
/*--colors--*/
$color_text: #333333;
$color_text_sub: #000;
$color_ivert: #fff;
$color_input: rgba(128, 128, 128, 0.75);
$color_bullet: #a0a0a0;
$color_lg: #ccc;
$color_accent: #cb0e17;
$color_ac-bg: rgba(203, 14, 23, 0.9);
$color-border: #db585e;
$color-action: #faca3d;
/*--colors--*/
/*--var--*/
$padding_pop: 80px;
$k: 0.7;
$maxWidth: 1920;
$widthCont: 1200px;
/*--var--*/
@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * $k;
  @media (max-width: 767px) {
    font-size: calc(
      #{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth})
    );
  }
  @media (min-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}
html {
  font-family: $roboto_regular;
  color: $color_text;
}
body {
  &.lock-scroll {
    height: 100%;
    overflow: hidden;
  }
}
.header_wrapper {
  max-width: #{$maxWidth + px};
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 50px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
.border-content {
  max-width: $widthCont;
  padding: 0 15px;
  margin: 0 auto;
}

.header-first-wrapp {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
  .header-logo {
    max-width: 175px;
    img {
      width: 100%;
    }
  }
  .header-contact {
    .lg-option {
      display: flex;
      justify-content: flex-end;
      color: $color_lg;
      font-family: $roboto_ligt;
      padding-bottom: 35px;
      @include adaptiv-font(18, 16);
      .lg-option-items {
        padding-left: 20px;
        transition: all 0.3s ease-in-out;
        &:hover {
          font-family: $roboto_bold;
          color: $color_ivert;
        }
      }
      .lg-active {
        font-family: $roboto_bold;
        color: $color_ivert;
      }
    }
    .sl-text {
      color: $color_ivert;
      text-transform: uppercase;
      @include adaptiv-font(25, 23);
      padding-bottom: 10px;
      span {
        display: block;
        text-align: right;
        padding-bottom: 5px;
      }
    }
    .sl-contact {
      color: $color_accent;
      padding-bottom: 30px;
      a {
        display: block;
        text-align: right;
      }
      :first-child {
        @include adaptiv-font(35, 30);
      }
      :last-child {
        @include adaptiv-font(20, 18);
      }
    }
    .btn-wrapp {
      display: flex;
      justify-content: flex-end;
    }
  }
}
.btn {
  background-color: $color_accent;
  color: $color_ivert;
  @include adaptiv-font(15, 13);
  text-transform: uppercase;
  padding: 10px 40px;
  text-align: right;
  box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 3px;
  border-color: $color-border;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: $color-action;
    color: $color_text;
    box-shadow: 0px -1px 5px 0px rgba(255, 255, 255, 0.75);
  }
  &:active {
    color: $color_ivert;
    background-color: $color_bullet;
    transition: all 0.1s ease-in-out;
  }
}
.header-second-wrapp {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  .left-side-wrapp {
    .pr-content {
      color: $color_accent;
      padding-bottom: 85px;
      p {
        @include adaptiv-font(30, 28);
        font-family: $roboto_ligt;
        padding-bottom: 18px;
      }
      :first-child {
        @include adaptiv-font(22, 20);
        font-family: $roboto_bold;
        padding-bottom: 14px;
        text-transform: uppercase;
      }
      :last-child {
        @include adaptiv-font(50, 40);
        font-family: $roboto_bold;
        text-transform: uppercase;
      }
    }
    .reson-wrapp {
      display: flex;
      flex-wrap: wrap;
      max-width: 730px;
      .reson-items {
        width: calc(33.33333% - 10px);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 25px;
        p {
          text-align: center;
          white-space: normal;
        }
        img {
          padding-bottom: 15px;
        }
      }
    }
  }
}
.fbc-wrapp {
  width: 302px;
  height: 502px;
  padding: 60px 33px 25px;
  background-repeat: no-repeat;
  margin-right: 40px;
  background-size: contain;
  p {
    white-space: normal;
    font-family: $roboto_ligt;
    @include adaptiv-font(15, 13);
    line-height: 1.8;
    padding-bottom: 8px;
  }
  .fbc-sl {
    @include adaptiv-font(22, 20);
    color: $color_accent;
    padding-bottom: 22px;
  }
  .fbc-best {
    padding-top: 32px;
    @include adaptiv-font(20, 18);
    font-family: $roboto_ligt;
    color: $color_accent;
    line-height: 1.3;
    padding-bottom: 75px;
  }
}
.form {
  display: flex;
  flex-direction: column;
  .input_wrap {
    position: relative;
    width: 100%;
    margin-bottom: 5px;
    input,
    textarea {
      width: 100%;
      padding: 13px 10px 13px 30px;
      font-size: 14px;
      font-family: $roboto_ligt;
      border: 1px solid $color_input;
      border-radius: 4px;
      box-shadow: 0px -1px 10px -8px rgba(0, 0, 0, 0.65);
    }
    &::before {
      content: "\e5cc";
      position: absolute;
      font-family: $material-icon;
      color: $color_accent;
      top: 15px;
      left: 10px;
    }
    textarea {
      height: 115px;
    }
  }
  .sub-input_wrap {
    input {
      width: 100%;
      font-family: $roboto_regular;
      @include adaptiv-font(15, 13);
      text-transform: uppercase;
      color: $color_ivert;
      background-color: $color_accent;
      padding: 10px 0;
      border-color: $color-border;
      margin-top: 30px;
      border-radius: 4px;
      box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.65);
      &:hover {
        background-color: $color-action;
        color: $color_text;
        border-color: $color-action;
        box-shadow: 0px -1px 5px 0px rgba(255, 255, 255, 0.75);
      }
      &:active {
        color: $color_ivert;
        border-color: $color_bullet;
        background-color: $color_bullet;
        transition: all 0.1s ease-in-out;
      }
    }
  }
}
.send-aprove {
  color: $color_text_sub;
  text-align: center;
  padding-top: 40px;
  opacity: 0;
  visibility: hidden;

  &.show {
    opacity: 1;
    visibility: visible;
  }
}
.burger-menu {
  display: none;
}
.header-nav-wrapp {
  position: absolute;
  width: 100%;
  background-color: $color_ivert;
  box-shadow: 0px -1px 15px 0px rgba(0, 0, 0, 0.75);
  .border-content {
    display: flex;
    justify-content: space-between;
    max-height: 50px;

    .logo-wrap {
      .menu-logo {
        display: flex;
        align-items: center;
        img {
          max-width: 85px;
          padding: 5px 0;
          transition: all 0.5s ease-in-out;
        }
      }
    }

    .header-nav {
      display: flex;
      align-items: center;
      .header-menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .menu-items {
          padding-left: 59px;
          a {
            transition: all 0.3s ease-in-out;
          }
          a:hover {
            color: $color_accent;
          }
          &.nav-active {
            color: $color_accent;
          }
        }
      }
    }
  }
  &.fix-head {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    .border-content {
      max-height: 80px;
      .logo-wrap {
        .menu-logo {
          img {
            padding: 10px 0;
          }
        }
      }
    }
  }
}

.promo-block {
  padding-top: 60px;
  .promo-slog {
    white-space: normal;
    p {
      color: $color_accent;
      font-family: $roboto_ligt;
      @include adaptiv-font(50, 40);
      padding-bottom: 15px;
    }
    :first-child {
      @include adaptiv-font(35, 30);
    }
    :last-child {
      font-family: $roboto_bold;
      @include adaptiv-font(30, 27);
      text-transform: uppercase;
      padding-bottom: 25px;
    }
  }
  .promo-text {
    @include adaptiv-font(20, 18);
    font-family: $roboto_ligt;
    white-space: normal;
    padding-bottom: 25px;
    .font-accent {
      color: $color_accent;
    }
  }
  .slider-wrapp {
    height: 275px;
    position: relative;
    margin-bottom: 10px;
    .slider-item {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .slider-items {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      display: none;
      .img-wrap {
        max-width: 495px;
        max-height: 240px;
        img {
          width: 100%;
          height: 100%;
          position: relative;
          z-index: 3;
          cursor: pointer;
          object-fit: contain;
        }
      }
      .slider-descrip {
        padding-left: 43px;
        padding-top: 40px;
        .number-slide {
          font-family: $roboto_thin;
          @include adaptiv-font(60, 45);
          color: $color_lg;
          padding-bottom: 40px;
        }
        .descrip-text {
          @include adaptiv-font(20, 18);
          p {
            white-space: normal;
          }
        }
      }
    }
    .nav-dot-wrapp {
      position: absolute;
      bottom: 20px;
      right: 40%;
      .nav-dot {
        display: flex;
        justify-content: center;
        position: relative;
        .dot-items {
          width: 5px;
          height: 5px;
          background-color: transparent;
          border: 1px solid $color_bullet;
          border-radius: 50%;
          margin: 0 5px;
          position: relative;
          span {
            padding: 5px;
            position: absolute;
            top: -100%;
            left: -100%;
          }
          span:hover::before {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: $color_accent;
            border-radius: 50%;
            top: 0;
            left: 0;
            z-index: -1;
          }
          &.bulett-active span::before {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: $color_accent;
            border-radius: 50%;
            top: 0;
            left: 0;
            z-index: -1;
          }
        }
      }
    }
  }
  .advant-wrapp {
    padding-top: 65px;
    padding-bottom: 50px;
    .advant-header {
      @include adaptiv-font(30, 27);
      font-family: $roboto_bold;
      text-align: left;
      text-transform: uppercase;
      padding-bottom: 60px;
      white-space: normal;
    }
    .advant-item {
      display: flex;
      justify-content: space-around;
      padding-bottom: 40px;
      .advant-items {
        width: calc(33.33333% - 180px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
          padding: 30px;
        }
        p {
          white-space: normal;
          text-align: center;
        }
      }
    }
    .btn-wrapp {
      display: flex;
      justify-content: center;
    }
  }
}
.recom-wrapp {
  padding: 60px 0 45px;
  color: $color_accent;
  font-family: $roboto_ligt;
  display: flex;
  justify-content: center;
  align-items: center;
  .rate-quantity {
    padding-right: 60px;
    @include adaptiv-font(130, 60);
  }
  .recom-text {
    :first-child {
      @include adaptiv-font(50, 40);
    }
    p {
      @include adaptiv-font(32, 29);
    }
    :last-child {
      font-family: $roboto_bold;
      @include adaptiv-font(25, 23);
    }
  }
}
.gallery-block {
  display: flex;
  justify-content: space-between;
  padding-bottom: 120px;
  .gallery-grid {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    .gallery-items {
      position: relative;
      padding: 1px;
      img {
        width: 100%;
        height: 100%;
      }
      &.wd {
        grid-row-start: span 1;
        grid-column-start: span 2;
      }
      &.hd {
        grid-row-start: span 3;
        grid-column-start: span 1;
        .activ-reasons {
          align-items: flex-start;
          padding-top: 75px;
        }
      }
      &:hover .activ-reasons {
        opacity: 1;
        visibility: visible;
      }
      .activ-reasons {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color_ac-bg;
        display: flex;
        align-items: center;
        padding: 18px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s ease-in-out;
        p {
          color: $color_ivert;
          font-family: $roboto_ligt;
          @include adaptiv-font(18, 10);
          white-space: normal;
        }
      }
    }
  }
  .gallery-resons-wrapp {
    max-width: 345px;
    padding-left: 15px;
    .reson-head {
      padding-bottom: 50px;
      p {
        white-space: normal;
      }
      color: $color_accent;
      @include adaptiv-font(35, 30);
      font-family: $roboto_ligt;
      :first-child {
        @include adaptiv-font(50, 40);
      }
      :last-child {
        @include adaptiv-font(30, 27);
      }
    }
    .reson-text {
      white-space: normal;
      font-family: $roboto_regular;
      @include adaptiv-font(20, 18);
      padding-bottom: 35px;
    }
  }
}
.map-wrapp {
  position: relative;
  height: 540px;
  overflow: hidden;
  .iframe_wrap {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    iframe {
      width: 100%;
    }
  }
  .ft-shadow-white {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    pointer-events: none;
  }
  .ft-contact-wrap {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .ft-contct-text {
      color: $color_accent;
      padding-right: 20px;
      padding-top: 175px;
      :first-child {
        @include adaptiv-font(25, 23);
        font-family: $roboto_medium;
      }
      a {
        display: block;
        text-align: right;
        @include adaptiv-font(22, 20);
        padding-bottom: 5px;
      }
      :last-child {
        font-family: $roboto_regular;
        padding-top: 18px;
      }
    }
    .fbc-wrapp {
      margin-top: 25px;
      padding: 50px 33px 25px;
      .fbc-qust {
        :first-child {
          padding-top: 0px;
          font-family: $roboto_medium;
          @include adaptiv-font(25, 18);
          padding-bottom: 10px;
        }
        :last-child {
          font-family: $roboto_ligt;
          @include adaptiv-font(20, 14);
          color: $color_accent;
          padding-bottom: 20px;
          line-height: 1.2;
        }
      }
    }
  }
}
.ft-red-line {
  background-color: $color_accent;
  color: $color_ivert;
  max-height: 35px;
  .border-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 15px;
    .logo {
      @include adaptiv-font(20, 18);
      font-family: $roboto_regular;
    }
    .ft-social {
    }
    .social {
      display: flex;
      justify-content: center;
      .social-items {
        a {
          margin: 0 4px;
        }
      }
    }

    .dev-by {
      font-family: $roboto_ligt;
      font-size: 12px;
      p {
        padding: 5px 0;
      }
    }
  }
}
#popup_galerry.popup {
  .popup__wrapper {
    padding: 0 calc(0px + ((500) * 0.7) * ((100vw - 767px) / 1920));
    .popup__content {
      position: relative;
      max-width: 100%;
      width: inherit;
      background-color: transparent;
      padding: 0;
      img {
        width: 100%;
      }
    }
  }
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  .popup__wrapper {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    .popup__content {
      position: relative;
      margin: 0 auto;
      text-align: center;
      width: 235px + $padding_pop * 2;
      padding: 60px $padding_pop 70px;
      background-color: $color_ivert;
      .header-popup {
        font-family: $roboto_ligt;
        @include adaptiv-font(22, 20);
        border-bottom: 1px solid $color_accent;
        padding-bottom: 23px;
        margin-bottom: 23px;
      }
      .form {
        .sub-input_wrap {
          input {
            margin-top: 10px;
          }
        }
      }
    }
  }
}
