@media screen and (max-width: 1150px) {
  .promo-block .slider-wrapp {
    height: 480px;
    padding-bottom: 50px; }
    .promo-block .slider-wrapp .slider-items {
      flex-direction: column; }
      .promo-block .slider-wrapp .slider-items .img-wrap {
        margin: 0 auto;
        height: 240px; }
      .promo-block .slider-wrapp .slider-items .slider-descrip {
        padding-left: 0px;
        padding-top: 25px; }
        .promo-block .slider-wrapp .slider-items .slider-descrip .number-slide {
          text-align: center; }
        .promo-block .slider-wrapp .slider-items .slider-descrip .descrip-text {
          text-align: center; }
    .promo-block .slider-wrapp .nav-dot-wrapp {
      left: 0;
      right: 0; }
  .promo-block .advant-wrapp .advant-item .advant-items {
    width: calc(33.33333% - 80px); }
  .gallery-block {
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .gallery-block .gallery-grid {
      margin-bottom: 40px; }
    .gallery-block .gallery-resons-wrapp {
      padding-left: 0px; }
      .gallery-block .gallery-resons-wrapp .reson-head {
        text-align: center; }
      .gallery-block .gallery-resons-wrapp .reson-text {
        text-align: center; } }

@media screen and (max-width: 1120px) {
  .fbc-wrapp {
    margin-right: 0px; } }

@media screen and (max-width: 800px) {
  .promo-block .advant-wrapp .advant-item .advant-items {
    width: calc(33.33333% - 30px); } }

@media screen and (max-width: 875px) {
  .header-second-wrapp {
    flex-direction: column; }
  .fbc-wrapp {
    margin: 0 auto; }
  .header-second-wrapp .left-side-wrapp {
    padding-bottom: 50px; }
    .header-second-wrapp .left-side-wrapp .pr-content {
      padding-bottom: 30px; }
      .header-second-wrapp .left-side-wrapp .pr-content p {
        text-align: center;
        white-space: normal; }
    .header-second-wrapp .left-side-wrapp .reson-wrapp {
      justify-content: center; }
  .header-nav-wrapp .border-content .header-nav .header-menu .menu-items {
    padding-left: 30px; } }

@media screen and (max-width: 767px) {
  .header_wrapper {
    padding-bottom: 0px; }
  .burg-wrap {
    display: flex;
    align-items: center; }
  .burger-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer; }
    .burger-menu::after, .burger-menu::before {
      content: "";
      background-color: #000;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease-in-out; }
    .burger-menu::before {
      top: 0; }
    .burger-menu::after {
      bottom: 0; }
    .burger-menu span {
      background-color: #000;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      top: 9px;
      transition: all 0.3s ease-in-out; }
  .burger-menu.bgr-active::before {
    transform: rotate(45deg);
    top: 9px; }
  .burger-menu.bgr-active::after {
    transform: rotate(-45deg);
    bottom: 9px; }
  .burger-menu.bgr-active span {
    transform: scale(0); }
  .header-nav-wrapp {
    position: relative; }
    .header-nav-wrapp .border-content .header-nav {
      display: none;
      position: absolute;
      background-color: #ffffff;
      padding: 50px 0;
      width: 100%;
      top: 50px;
      left: 0; }
      .header-nav-wrapp .border-content .header-nav.bgr-active {
        display: block; }
      .header-nav-wrapp .border-content .header-nav .header-menu {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start; }
        .header-nav-wrapp .border-content .header-nav .header-menu .menu-items {
          padding-bottom: 20px; }
          .header-nav-wrapp .border-content .header-nav .header-menu .menu-items a {
            font-size: 20px; }
  .recom-wrapp {
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .recom-wrapp .rate-quantity {
      padding-right: 0px; }
    .recom-wrapp .recom-text {
      white-space: normal;
      text-align: center; }
  .map-wrapp {
    height: 100%;
    overflow: inherit; }
    .map-wrapp .iframe_wrap {
      position: relative; }
      .map-wrapp .iframe_wrap iframe {
        height: 350px; }
    .map-wrapp .ft-shadow-white {
      display: none; }
    .map-wrapp .ft-contact-wrap {
      justify-content: center;
      flex-direction: column; }
      .map-wrapp .ft-contact-wrap .ft-contct-text {
        padding-right: 0px;
        padding-top: 30px; }
        .map-wrapp .ft-contact-wrap .ft-contct-text a {
          text-align: center;
          white-space: normal; }
  #popup_galerry.popup .popup__wrapper {
    padding: 0; } }

@media screen and (max-width: 650px) {
  .header-first-wrapp {
    flex-direction: column;
    padding-bottom: 30px; }
    .header-first-wrapp .header-logo {
      max-width: calc(100px + (175 - 100) * (100vw / 1920));
      margin: 0 auto;
      padding-bottom: 10px; }
    .header-first-wrapp .header-contact .lg-option {
      justify-content: center; }
    .header-first-wrapp .header-contact .sl-text span {
      text-align: center;
      white-space: normal; }
    .header-first-wrapp .header-contact .sl-contact a {
      text-align: center; }
    .header-first-wrapp .header-contact .btn-wrapp {
      justify-content: center; } }

@media screen and (max-width: 630px) {
  .promo-block .advant-wrapp .advant-header {
    text-align: center;
    padding-bottom: 30px; }
  .promo-block .advant-wrapp .advant-item {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .promo-block .advant-wrapp .advant-item .advant-items {
      width: calc(100% - 120px); } }

@media screen and (max-width: 600px) {
  .gallery-block {
    padding-bottom: 30px; }
    .gallery-block .gallery-grid {
      margin-bottom: 20px;
      grid-template-columns: repeat(2, 1fr); }
      .gallery-block .gallery-grid .gallery-items .activ-reasons {
        padding: 8px; } }

@media screen and (max-width: 550px) {
  .promo-block .slider-wrapp {
    height: calc(375px + ((480 - 375) * 0.7) * ((100vw - 320px) / 250)); }
    .promo-block .slider-wrapp .slider-items .img-wrap {
      height: calc(150px + ((240 - 150) * 0.7) * ((100vw - 320px) / 250)); }
  .promo-block .advant-wrapp .advant-header {
    text-align: center; }
  .fbc-wrapp .fbc-best {
    padding-bottom: 45px; } }

@media screen and (max-width: 490px) {
  .header-second-wrapp .left-side-wrapp .reson-wrapp .reson-items {
    width: calc(50% - 10px); }
  .fbc-wrapp {
    width: 282px; }
  .ft-red-line {
    max-height: 100%; }
    .ft-red-line .border-content {
      padding: 15px 15px 6px;
      flex-direction: column; }
      .ft-red-line .border-content .logo {
        padding-bottom: 25px; }
      .ft-red-line .border-content .ft-social {
        padding-bottom: 15px; }
      .ft-red-line .border-content .social {
        display: flex;
        justify-content: center; }
        .ft-red-line .border-content .social .social-items a {
          margin: 0 4px; } }
